.CircularProgressbar-path {
    stroke: var(--bs-primary);
}

.CircularProgressbar-trail {
    stroke: gray;
}

.CircularProgressbar-text {
    fill: var(--bs-primary);
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
}