.CircularProgressbar {
    /*
     * This fixes an issue where the CircularProgressbar svg has
     * 0 width inside a "display: flex" container, and thus not visible.
     */
    width: 100%;
    /*
     * This fixes a centering issue with CircularProgressbarWithChildren:
     * https://github.com/kevinsqi/react-circular-progressbar/issues/94
     */
    vertical-align: middle;
}

.CircularProgressbar-path {
    stroke: var(--bs-primary);
}

.CircularProgressbar-trail {
    stroke: gray;
}

.CircularProgressbar-text {
    fill: var(--bs-primary);
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
}