/* 
 * note: we use .card.header-card to make this rule more specific
 * -> the following properties have precedence over the default card properties
 */
.card.header-card {
    /* cards need to have a fixed width and height so they can be arranged in a grid */
    min-width: 180px;
    max-width: 180px;
    min-height: 130px;
    max-height: 130px;

    background-color: transparent;
}

.card.header-card:hover {
    background-color: rgba(var(--bs-primary), .03);
    border-color: var(--bs-primary);
}

.header-button {
    /* cards need to have a fixed width and height so they can be arranged in a grid */
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;

    background-color: transparent;
}