.dropzone {
    border-style: dashed;
    outline: none;
    transition: border .24s ease-in-out;
}

.dropzone .click-here {
    color: var(--bs-primary);
    text-decoration: underline;
    cursor: pointer;
}

.is-invalid .dropzone {
    border-color: var(--bs-danger) !important;
}

.is-invalid .dropzone .click-here {
    color: var(--bs-danger);
}
