.api-header-card {
    /* 
     * Main idea: the card has multiple buttons 
     */
    background-color: var(--bs-card-border-color);
    gap: 1px;
}

.api-button {
    /* 
     * use min-width: 33% here to ensure that 
     * - there are at most 3 buttons per row 
     * - the buttons have the same width (as opposed to using a fixed value like 200px)
     */
    min-width: 33%;
    background-color: var(--bs-card-bg);
}

.api-button.active {
    background-color: var(--bs-primary-bg-subtle);
}

.api-button:hover {
    background-color: var(--bs-secondary);
}

.api-button .card-img-top {
    width: 4.5rem;
    height: 4.5rem;
}