$speed-in: 0.1s;
$speed-out: 1s;

// note: we use .card.module-card to make this rule more specific
// -> the following properties have precedence over the default card properties
.card.module-card {
    // cards need to have a fixed width so they can be arranged in a grid
    min-width: 16rem;
    max-width: 16rem;
    transition:
        border-color $speed-out ease-out,
        background-color $speed-out ease-out,
        color $speed-out ease-out;

    .card-header {
        background-color: transparent;
    }

    img {
        width: 10rem;
        // make sure that the images have uniform height
        height: 8rem;
        filter: saturate(80%);
        transition: filter $speed-out ease-out;
    }

    .card-title {
        transition: inherit;
    }

    .card-body {
        transition: inherit;
    }

    /*
    * Hover effects
    * - change background color
    * - change border color
    * - change image saturation
    * - change header background color
    * - change title and body text color
    */
    &:hover {
        background-color: var(--bs-tertiary-bg);
        border-color: var(--bs-primary);
        color: var(--bs-primary);
        transition:
            border-color $speed-in ease-in,
            background-color $speed-in ease-in,
            color $speed-in ease-in;

        // I tried to make the card grow on hover (below), but I liked the color change more.
        // transform: scale(1.05);
        // box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);

        img {
            filter: saturate(130%);
            transition: filter $speed-in ease-in;
        }
    }
}