/* 
 * These styles were extracted from the VSCode Arctis theme:
 * https://github.com/adamdotjs/arctis 
 */

pre code {
    display: block;
    color: #404859;
    background: #EAECF0;
}

.hljs-keyword,
.hljs-doctag,
.hljs-meta.keyword_,
.hljs-section,
.hljs-tag,
.hljs-attr,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #DF2A69;
}

.hljs-built_in,
.hljs-subst,
.hljs-variable,
.hljs-params,
.hljs-meta.string_,
.hljs-template-variable {
    color: #B16B16;
}

.hljs-type,
.hljs-symbol,
.hljs-meta.prompt_,
.hljs-selector-id {
    color: #C14D1F;
}

.hljs-literal,
.hljs-number {
    color: #5946E5;
}

.hljs-operator {
    font-style: bold;
}

.hljs-punctuation,
.hljs-comment {
    color: #7E8AA2;
}

.hljs-property,
.hljs-bullet {
    font-style: italic;
}

.hljs-regexp,
.hljs-string,
.hljs-formula,
.hljs-addition {
    color: #06653D;
}

.hljs-char.escape_,
.hljs-class,
.hljs-title.class_,
.hljs-title.class_.inherited__ {
    color: #085D91;
}

.hljs-function,
.hljs-title.function_,
.hljs-title.function_.invoke__,
.hljs-attribute {
    color: #077988;
}

.hljs-variable.language_,
.hljs-name,
.hljs-emphasis,
.hljs-strong,
.hljs-selector-tag,
.hljs-template-tag,
.hljs-deletion {
    color: #C0400C;
}

.hljs-variable.constant_,
.hljs-quote,
.hljs-selector-class {
    color: #936406;
}

.hljs-title,
.hljs-link {
    color: #026673;
}

.hljs-meta {
    color: #404859;
}

.hljs-code {
    color: #535E74;
}