@use "sass:map";
@import "../../index.scss";

@debug $spacers;

.toc {
    // make the table of contents stick to top of the screen
    position: sticky;
    // create a small gap (to the top)
    // (there is also a small gap to the bottom, see below)
    top: map.get($spacers, 5);
    // restrict the height:
    //   100vh: 100% of the viewport height
    //   - map.get($spacers, 5): subtract the top gap
    //   - map.get($spacers, 2): subtract the bottom gap
    max-height: calc(100vh - map.get($spacers, 5) - map.get($spacers, 2));

    // make the table of contents scrollable
    // (in case screen is too small)
    overflow-y: auto;
}

.toc ul {
    list-style-type: none;
    // font-size: $font-size-sm;
}

.toc a {
    text-decoration: none;
    color: $body-secondary-color;
}

.toc a.active {
    font-weight: bold;
    // text-decoration: underline;
    color: $primary;
}