/*
 * Problem icons
 *
 * The problem icons are used to indicate problems with the molecule and are displayed in the top 
 * right corner of the cell.
 */

.problem-icon {
    min-width: 26px;
    max-width: 26px;
    min-height: 26px;
    max-height: 26px;
}