@import "../../index.scss";

th {
    font-size: $font-size-sm;
    color: $body-secondary-color !important;
}

td .molecule {
    width: 300px;
    height: 180px;
}

td.compressed svg.molecule {
    width: 150px;
    height: 90px;
}

td.compressed svg.molecule:hover {
    width: 300px;
    height: 180px;
}

th.group-divider {
    border: 1px solid black;
}

svg ellipse.selected {
    stroke: $primary;
    stroke-width: 2;
    fill: transparent;
    opacity: 1 !important;
}

td {
    // avoid jumping when a colored border is added on hover
    border-top: 2px solid transparent;
}

td.start-block {
    // avoid jumping when a colored border is added on hover
    border-left: 2px solid transparent;
}

td.end-block {
    // avoid jumping when a colored border is added on hover
    border-right: 2px solid transparent;
}

td.highlighted {
    border-top: 2px solid var(--bs-primary);
    border-bottom: 2px solid var(--bs-primary);
}

td.highlighted.start-block {
    border-left: 2px solid var(--bs-primary);
}

td.highlighted.end-block {
    border-right: 2px solid var(--bs-primary);
}

td img {
    width: 300px;
    height: 180px;
}

td.compressed img {
    width: 150px;
    height: 90px;
}

td.compressed img:hover {
    width: 300px;
    height: 180px;
}

.problem-icon {
    display: inline-block;
    min-width: 26px;
    max-width: 26px;
    min-height: 26px;
    max-height: 26px;
    background: $danger;
    border-radius: 50%;
    text-align: center;
}