/*
 * Table header 
 */
thead {
    /* 
     * The table header moves when scrolling down the page. However, the border bottom gets lost,
     * because, technically, it is not the bottom border of the head but the top bottom of the 
     * table body. For that reason, we use box-shadow on thead to make the border always visible. 
     */
    box-shadow: 0 calc(var(--bs-border-width)) 0 0 var(--bs-border-color);
}

/*
 * Table cell highlighting
 *
 * By default, cells do not have borders. When hovering, the cell is highlighted with a box-shadow
 * (to avoid that the text jumps around due to changing border size). When multiple cells in a row
 * are highlighted, the box-shadows are combined to create a continuous highlight.
 */
.table td {
    /* 
     * do not draw borders
     * Note: we used .table td as the selector to avoid being overridden by bootstrap
     * (e.g. .table > * > *)
     */
    border-bottom-width: 0;
}

td.row-group-end {
    border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}

td.highlighted {
    box-shadow:
        inset 0 2px 0 0 var(--bs-primary),
        inset 0 -2px 0 0 var(--bs-primary);
}

td.highlighted.start-block {
    box-shadow:
        inset 2px 0 0 0 var(--bs-primary),
        inset 0 2px 0 0 var(--bs-primary),
        inset 0 -2px 0 0 var(--bs-primary);
}

td.highlighted.end-block {
    box-shadow:
        inset -2px 0 0 0 var(--bs-primary),
        inset 0 2px 0 0 var(--bs-primary),
        inset 0 -2px 0 0 var(--bs-primary);
}

td.highlighted.start-block.end-block {
    box-shadow:
        inset 2px 0 0 0 var(--bs-primary),
        inset -2px 0 0 0 var(--bs-primary),
        inset 0 2px 0 0 var(--bs-primary),
        inset 0 -2px 0 0 var(--bs-primary);
}

/*
 * Molecule depictions and images
 */
td .molecule,
td img {
    /* By default, molecule images have large size */
    width: 300px;
    height: 180px;
}

td.compressed svg.molecule,
td.compressed img {
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 90px;
    pointer-events: none;
}

td.compressed>.zoomable {
    position: relative;
    width: 150px;
    height: 90px;
    display: inline-block;
}

td.compressed>.zoomable:hover>svg.molecule,
td.compressed>.zoomable:hover>img {
    position: absolute;
    width: 300px;
    height: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Make sure that the scaled up image is not covered by the table header */
    z-index: 1030;

    /* The scaled up image should pass through mouse events */
    pointer-events: none;

    /* Avoid transparent background */
    background-color: var(--bs-body-bg);
    border: 2px solid var(--bs-primary);
}