.connection-line {
    /* length of the line connecting tooltip and its reference element */
    width: 100px;
}

.tooltip-text {
    max-width: 300px;
}

.form-check.form-check-lg {
    font-size: 2rem;
}

.form-check.form-check-lg .form-check-label {
    margin-top: -0.5rem;
}